<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="/public/stylesheets/all.min.css">
  <link rel="stylesheet" href="/public/stylesheets/dropzone.css">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <%
      function verifImage(str){
        return ['jpg','png','gif','jpeg'].includes(getType(str));
      }

      function getType(str){
        return str.slice(verifPoint(str)+1,str.length);
      }

      function verifPoint(str) {
        const tab = [];
        for (let i = 0; i < str.length; i++) {
          if (str[i] === ".") {
            tab.push(i);
          }
        }
        return tab[tab.length - 1];
      }
    
  %>
  <nav class="navbar navbar-dark indigo ">
    <a class="navbar-brand" href="#">Link</a>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-3">
        <aside>
          <p>salut famille comment allez-vous</p>
          <div class="deleteDownload">
            <span class="taille"><span></span></span>
            <i class="fas fa-download"></i>
            <i class="fas fa-trash suppress"></i>
          </div>
        </aside>
      </div>
      <div class="col-xl-10 col-lg-9 col-md-9">
        <div class="bc-icons-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb indigo lighten-4">
              <% if(path === "none"){%>
              <li class="breadcrumb-item"><a class="black-text" href="/"><i class="fas fa-home"></i></a></li>
              &nbsp;&nbsp;&nbsp;| <li class="breadcrumb-item">
                <i class="fas fa-plus add"></i>
                <ul class="dropDown">
                  <li>
                    <p class="dropdown-item new_folder"><i class="fas fa-folder"></i>
                      <span class="text">nouveau dossier</span>
                    </p>
                  </li>
                </ul>
              </li>
              <%}else if(typeof(path) === "string"){%>
              <li class="breadcrumb-item"><a class="black-text" href="/"><i class="fas fa-home"></i></a></li>
              &nbsp;&nbsp;&nbsp;|
              <li class="breadcrumb-item active"><a class="black-text" href="#"><%= path %></a><i
                  class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
              <li class="breadcrumb-item">
                <i class="fas fa-plus add"></i>
                <ul class="dropDown">
                  <li>
                    <p class="dropdown-item new_folder"><i class="fas fa-folder"></i>
                      <span class="text">nouveau dossier</span>
                    </p>
                  </li>
                </ul>
              </li>
              <%}else{%>
              <li class="breadcrumb-item"><a class="black-text" href="/"><i class="fas fa-home"></i></a></li>
              &nbsp;&nbsp;&nbsp;|
              <% path.forEach(el => {%>
              <% if(path.indexOf(el) === path.length-1){%>
              <li class="breadcrumb-item active"><a class="black-text" href="#"><%= el %></a><i
                  class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
              <%}else{%>
              <li class="breadcrumb-item"><a class="black-text" href="/app/files/?dir=<%= el %>"><%= el %></a><i
                  class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
              <%}%>
              <%})%>
              <li class="breadcrumb-item">
                <i class="fas fa-plus add"></i>
                <ul class="dropDown">
                  <li>
                    <p class="dropdown-item new_folder"><i class="fas fa-folder"></i>
                      <span class="text">nouveau dossier</span>
                    </p>
                  </li>
                </ul>
              </li>
              <%}%>
            </ol>
          </nav>
        </div>
        <div class="row box_content">
          <div class="col-lg-12 col-md-12">
            <div id="ombre">
              <div id="previews" class="dropzone">
                <div id="template">
                  <DIV class="dz-preview dz-file-preview">
                    <DIV class="dz-image"><IMG data-dz-thumbnail=""></DIV>
                    <DIV class="dz-details">
                      <DIV class="dz-size"><SPAN data-dz-size=""></SPAN></DIV>
                      <DIV class="dz-filename"><SPAN data-dz-name=""></SPAN></DIV>
                    </DIV>
                    <DIV class="dz-progress"><SPAN class="dz-upload" data-dz-uploadprogress=""></SPAN></DIV>
                    <DIV class="dz-error-message"><SPAN data-dz-errormessage=""></SPAN></DIV>
                    <div class="dz-success-mark">
                      <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <title>Check</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                          <path
                            d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                            id="Oval-2" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475"
                            fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                        </g>
                      </svg>
                    </div>
                    <div class="dz-error-mark">
                      <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <title>error</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                          <g id="Check-+-Oval-2" sketch:type="MSLayerGroup" stroke="#747474" stroke-opacity="0.198794158"
                            fill="#FFFFFF" fill-opacity="0.816519475">
                            <path
                              d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                              id="Oval-2" sketch:type="MSShapeGroup"></path>
                          </g>
                        </g>
                      </svg>
                    </div>
                  </DIV>
                </div>
              </div>
            </div>
            <div class="folders_list">
              <% if(files.length === 0){%>
              <p>le dossier est vide</p>
              <%}else{%>
              <table>
                <thead>
                  <th class="name"><input style="display: inline-block" type="checkbox"
                      class="form-check globalCheck">&nbsp;&nbsp;&nbsp;&nbsp;<span
                      style="display:inline-block">name</span>
                  </th>
                  <th class="size">size</th>
                  <th class="modified">modified</th>
                </thead>
                <tbody>
                  <% files.forEach(file => { %>
                  <tr onclick="showRightSide('<%= file._id %>')">
                    <% if(getType(file.name) === file.name){%>
                    <td class="nameOptions">
                      <div class="left"><img src="/public/images/folder.png" width="50"> <input type="checkbox"
                          class="form-check childCheck"><span class="file_name"><a
                            href="/app/files/?dir=<%= file.name %>"><%= file.name %></a></span>
                      </div>
                      <div class="right"><% if(file.shared){%> shared <%}else{%><i class="fas fa-share-alt"></i><%}%>
                      </div>
                    </td>
                    <td style="text-align: center"><%= ((file.size/1000)/1000).toFixed(2) %> Mo
                    </td>
                    <td style="text-align: center"><%= file.date_creation %></td>
                    <%} else if(verifImage(file.name)){%>
                    <td class="nameOptions">
                      <div class="left"><img src="/public/images/pictures.png" width="50"></i> <input type="checkbox"
                          class="form-check childCheck"><span class="file_name"><%= file.name %></span></div>
                      <div class="right"><% if(file.shared){%> shared <%}else{%><i class="fas fa-share-alt"></i><%}%>
                      </div>
                    </td>
                    <td style="text-align: center"><%= ((file.size/1000)/1000).toFixed(2) %> Mo
                    </td>
                    <td style="text-align: center"><%= file.date_creation %></td>
                    <%}else if(getType(file.name) === "mp4"){%>
                    <td class="nameOptions">
                      <div class="left"><img src="/public/images/video-player.png" width="50"></i> <input
                          type="checkbox" class="form-check childCheck"><span class="file_name"><%= file.name %></span>
                      </div>
                      <div class="right"><% if(file.shared){%> shared <%}else{%><i class="fas fa-share-alt"></i><%}%>
                          </i></div>
                    </td>
                    <td style="text-align: center"><%= ((file.size/1000)/1000).toFixed(2) %> Mo
                    </td>
                    <td style="text-align: center"><%= file.date_creation %></td>
                    <%}else if(getType(file.name) === "pdf"){%>
                    <td class="nameOptions">
                      <div class="left"><img src="/public/images/pdf.png" width="50"></i> <input type="checkbox"
                          class="form-check childCheck"><span class="file_name"><%= file.name %></span>
                      </div>
                      <div class="right"><% if(file.shared){%> shared <%}else{%><i class="fas fa-share-alt"></i><%}%>
                          </i></div>
                    </td>
                    <td style="text-align: center"><%= ((file.size/1000)/1000).toFixed(2) %> Mo
                    </td>
                    <td style="text-align: center"><%= file.date_creation %></td>
                    <%}else if(getType(file.name) === "txt"){%>
                    <td class="nameOptions">
                      <div class="left"><img src="/public/images/txt.png" width="50"></i> <input type="checkbox"
                          class="form-check childCheck"><span class="file_name"><%= file.name %></span>
                      </div>
                      <div class="right"><% if(file.shared){%> shared <%}else{%><i class="fas fa-share-alt"></i><%}%>
                          </i></div>
                    </td>
                    <td style="text-align: center"><%= ((file.size/1000)/1000).toFixed(2) %> Mo
                    </td>
                    <td style="text-align: center"><%= file.date_creation %></td>
                    <%}else if(getType(file.name) === "mp3"){ %>
                    <td class="nameOptions">
                      <div class="left"><i class="fas fa-audio-description"></i> <input type="checkbox"
                          class="form-check childCheck"><span class="file_name"><%= file.name %></span>
                      </div>
                      <div class="right"><% if(file.shared){%> shared <%}else{%><i class="fas fa-share-alt"></i><%}%>
                          </i></div>
                    </td>
                    <td style="text-align: center"><%= ((file.size/1000)/1000).toFixed(2) %> Mo
                    </td>
                    <td style="text-align: center"><%= file.date_creation %></td>
                    <%}else{%>
                    <td class="nameOptions">
                      <div class="left"><i class="fas fa-file"></i> <input type="checkbox"
                          class="form-check childCheck"><span class="file_name"><%= file.name %></span></div>
                      <div class="right"><% if(file.shared){%> shared <%}else{%><i class="fas fa-share-alt"></i><%}%>
                          </i></div>
                    </td>
                    <td style="text-align: center"><%= ((file.size/1000)/1000).toFixed(2) %> Mo
                    </td>
                    <td style="text-align: center"><%= file.date_creation %></td>
                    <%}%>
                      </tr>
                      <% }) %>
                </tbody>
              </table>
              <%}%>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="right_content">
                <i class="fas fa-times-circle" onclick="closeRightSide()"></i>
                <br>
                <div class="contenu_article">
                      <div class="repre">
                        <i class="fas fa-folder"></i>
                      </div>
                      <div class="info">
                          <h3> Nom </h3>
                          <p><span> 12 Mo </span>&nbsp;&nbsp;&nbsp;&nbsp;<span>lundi 10 janvier</span></p>
                      </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#commentaires" role="tab" aria-controls="home"
                      aria-selected="true">Commentaires</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#partager" role="tab" aria-controls="profile"
                      aria-selected="false">Partager</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="commentaires" role="tabpanel" aria-labelledby="home-tab">ici le commenaires sur le dossier ou fichier</div>
                  <div class="tab-pane fade" id="partager" role="tabpanel" aria-labelledby="profile-tab">
                    <button class="btn btn-dark btn-sm share"  data-toggle="modal" data-target="#modalPoll-1">nouveau partage</button>
                    <br><br>
                    <ul>
                  
                    </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modals -->
  
  <!-- Modal: modalPoll -->
  <div class="modal fade right" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">formulaire de partage
          </p>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
  
        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fas fa-share-alt fa-4x mb-3 animated rotateIn"></i>
            <p>
              <strong></strong>
            </p>
            <p>partager vos données avec d'autres personnes
              <strong>veuillez remplir les champs suivants</strong>
            </p>
          </div>
  
          <hr>
  
          <!-- Radio -->
          <p class="text-center">
            <strong>les priviléges</strong>
          </p>

          <input type="hidden" id="id_file">
          <div class="form-check mb-4">
            <input class="form-check-input" name="group1" type="radio" id="d" value="download" checked>
            <label class="form-check-label" for="d"> les utilisateurs  auront le droit uniquement que de télécharger l'élément partager</label>
          </div>

          <div class="form-check mb-4">
            <input class="form-check-input" name="group1" type="radio" id="rw" value="read&download" checked>
            <label class="form-check-label" for="rw"> les utilisateurs  auront le droit de lire et de télécharger l'élément partager</label>
          </div>
  
          <div class="form-check mb-4">
            <input class="form-check-input" name="group1" type="radio" id="rwd" value="read&write&download">
            <label class="form-check-label" for="rwd">les utilisateurs  auront le droit de lire , d'écrire (si dossier) et de télécharger l'élément partager</label>
          </div>
          <!-- Radio -->
  
          <p class="text-center">
            <strong>paramétres token</strong>
          </p>

          <!--Basic textarea-->
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="passwordProtection">
            <label class="form-check-label" for="passwordProtection"> protéger par mot de passe </label>
          </div>
          <input class="form-control mb-4" type="password" id="passwordToShare" placeholder="entrez le mot de passe">
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="ExpirationDate">
            <label class="form-check-label" for="ExpirationDate"> ajouter une date d'expiration </label>
          </div>
          <input class="form-control mb-4" type="date" id="dateToShare">
          <div class="md-form">
            <textarea type="text" id="messageToShare" class="md-textarea form-control" rows="3"></textarea>
            <label for="form79textarea">message addressé aux utilisateurs</label>
          </div>
  
        </div>
  
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a type="button" onclick="getShareConfig()" class="btn btn-primary waves-effect waves-light"> enoyer
            <i class="fa fa-paper-plane ml-1"></i>
          </a>
          <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">fermer</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal: modalPoll -->

  <!-- fin de temps -->
      <script src="/mdbootstrap/js/jquery.min.js"></script>
      <script src="/mdbootstrap/js/popper.js"></script>
      <script src="/mdbootstrap/js/bootstrap.min.js"></script>
      <script src="/mdbootstrap/js/mdb.min.js"></script>
      <script src="/public/javascripts/dropzone.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/public/javascripts/fonctions.js"></script>
      <script src="/public/javascripts/adminSide.js"></script>

</html>